<a href="https://colab.research.google.com/github/taciturn02/CreditCardFruadDetection/blob/main/ML_MODELS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score,classification_report,confusion_matrix
from sklearn.model_selection import KFold,cross_val_score

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/CreditCard_DataSet/randomUndersammpledData.csv")
train_df2 = pd.read_csv("/content/drive/MyDrive/CreditCard_DataSet/randomOversampledData.csv")

In [ ]:
train_df.info()
train_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4290 entries, 0 to 4289
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   merchant    4290 non-null   int64
 1   category    4290 non-null   int64
 2   amt         4290 non-null   float64
 3   gender      4290 non-null   int64
 4   zip         4290 non-null   int64
 5   lat         4290 non-null   float64
 6   long        4290 non-null   float64
 7   city_pop    4290 non-null   int64
 8   job         4290 non-null   int64
 9   merch_lat   4290 non-null   float64
 10  merch_long  4290 non-null   float64
 11  is_fraud    4290 non-null   int64
 12  hour        4290 non-null   int64
 13  day         4290 non-null   int64
 14  month       4290 non-null   int64
 15  age_cust    4290 non-null   int64
dtypes: float64(5), int64(11)
memory usage: 536.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107148 entries, 0 to 1107147
Data columns (total 16 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   merchant    1107148 non-null  int64
 1   category    1107148 non-null  int64
 2   amt         1107148 non-null  float64
 3   gender      1107148 non-null  int64
 4   zip         1107148 non-null  int64
 5   lat         1107148 non-null  float64
 6   long        1107148 non-null  float64
 7   city_pop    1107148 non-null  int64
 8   job         1107148 non-null  int64
 9   merch_lat   1107148 non-null  float64
 10  merch_long  1107148 non-null  float64
 11  is_fraud    1107148 non-null  int64
 12  hour        1107148 non-null  int64
 13  day         1107148 non-null  int64
 14  month       1107148 non-null  int64
 15  age_cust    1107148 non-null  int64
dtypes: float64(5), int64(11)
memory usage: 135.2 MB

Split data into target and features

In [ ]:
X = train_df.drop(columns='is_fraud', axis=1)
Y = train_df['is_fraud']

XX = train_df2.drop(columns='is_fraud', axis=1)
YY = train_df2['is_fraud']

In [ ]:
X

,merchant,category,amt,gender,zip,lat,long,city_pop,job,merch_lat,merch_long,hour,day,month,age_cust
0,562,7,21.02,0,26339,39.4125,-80.6352,255,69,39.516636,-80.608654,18,2,8,49
1,344,5,173.36,1,53803,42.5545,-90.3508,1306,367,41.876202,-90.405649,23,5,12,62
2,64,4,204.06,0,24970,37.7418,-80.4626,4575,420,38.470564,-80.007670,10,5,9,29
3,559,2,130.71,0,59448,48.2777,-112.8456,743,473,48.078191,-113.631976,6,3,10,48
4,130,4,224.08,0,33872,27.4703,-81.4872,50835,171,28.448536,-80.743779,3,5,12,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4285,670,12,1041.51,1,38668,34.6323,-89.8855,14462,112,34.573471,-89.911011,22,5,12,61
4286,349,12,868.09,1,38668,34.6323,-89.8855,14462,112,34.091227,-90.390612,22,5,12,61
4287,443,11,1039.42,1,38668,34.6323,-89.8855,14462,112,34.628434,-90.284780,22,5,12,61
4288,29,4,289.27,1,38668,34.6323,-89.8855,14462,112,34.746063,-90.401093,23,5,12,61
4289,281,8,766.38,1,38668,34.6323,-89.8855,14462,112,33.771462,-90.651342,23,5,12,61

In [ ]:
print(Y)
print(YY)

0       0
1       0
2       0
3       0
4       0
       ..
4285    1
4286    1
4287    1
4288    1
4289    1
Name: is_fraud, Length: 4290, dtype: int64
0          1
1          1
2          1
3          1
4          1
          ..
1107143    0
1107144    0
1107145    0
1107146    0
1107147    0
Name: is_fraud, Length: 1107148, dtype: int64

Initalize K-Fold Cross Validation

In [ ]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [ ]:
metrics = {
    'accuracy': accuracy_score,
    'precision': precision_score,
    'f1_macro' : f1_score,
    'recall': recall_score,
    'roc_auc': roc_auc_score,

}

NameError: name 'f1_score' is not defined

In [ ]:
def model_testing1(estimator):
    ## Prediction on data
    y_preds = estimator.predict(X_test)

    ##Print accuracy score
    print("Accuracy Score on UnderSampled Test Data: ",accuracy_score(Y_test,y_preds))

    ## Print classification report
    print("\nConfussion Matrix  of UnderSampled Test Data:\n " ,confusion_matrix(Y_test ,y_preds),"\n")

    ## Check confusion matrix
    print("classification_report of UnderSampled Test Data: \n\n",classification_report(Y_test ,y_preds))

In [ ]:
def model_testing11(estimator):
    ## Prediction on data
    y_preds = estimator.predict(X_train)

    ##Print accuracy score
    print("Accuracy Score on UnderSampled Train Data: ",accuracy_score(Y_train,y_preds))

    ## Print classification report
    print("\nConfussion Matrix  of UnderSampled Train Data:\n " ,confusion_matrix(Y_train ,y_preds),"\n")

    ## Check confusion matrix
    print("classification_report of UnderSampled Train Data: \n\n",classification_report(Y_train ,y_preds))

##LOGISTIC REGRESSION

In [ ]:
model = LogisticRegression()

In [ ]:
evaluation_results = {}
for metric_name, metric_func in metrics.items():
    scores = cross_val_score(model, X, Y, cv=kfold, scoring=metric_name)
    evaluation_results[metric_name] = scores.mean()

MODEL EVALUATION

In [ ]:
for metric_name, score in evaluation_results.items():
    print(f"Mean_{metric_name.capitalize()}: {score}\n")

Printing Metrics for the best Fold

In [ ]:
accuracy_scores = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
best_fold_index = np.argmax(accuracy_scores)

 Get the train and test indices for the best fold

In [ ]:
train_index, test_index = list(kfold.split(X))[best_fold_index]

 Split the data into train and test sets for the best fold

In [ ]:
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
model_testing1(model)

In [ ]:
model_testing11(model)

##DECISION TREE MODEL

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:

model = DecisionTreeClassifier(criterion = 'entropy',max_depth = 6, random_state=42)

In [ ]:
evaluation_results = {}
for metric_name, metric_func in metrics.items():
    scores = cross_val_score(model, X, Y, cv=kfold, scoring=metric_name)
    evaluation_results[metric_name] = scores.mean()

Model Evaluation

In [ ]:
for metric_name, score in evaluation_results.items():
    print(f"Mean_{metric_name.capitalize()}: {score}\n")

Printing metrices for the best fold

In [ ]:
accuracy_scores = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
best_fold_index = np.argmax(accuracy_scores)

Get the train and test indices for the best fold

In [ ]:
train_index, test_index = list(kfold.split(X))[best_fold_index]

Split the data into train and test sets for the best fold

In [ ]:
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
model_testing1(model)

In [ ]:
model_testing11(model)

##RANDOM FOREST MODEL

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier(criterion = 'entropy',max_depth=10 random_state=42)

In [ ]:
evaluation_results = {}
for metric_name, metric_func in metrics.items():
    scores = cross_val_score(model, X, Y, cv=kfold, scoring=metric_name)
    evaluation_results[metric_name] = scores.mean()

In [ ]:
for metric_name, score in evaluation_results.items():
    print(f"Mean_{metric_name.capitalize()}: {score}\n")

Printing metrices for the best fold

In [ ]:
accuracy_scores = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
best_fold_index = np.argmax(accuracy_scores)

Get the train and test indices for the best fold

In [ ]:
train_index, test_index = list(kfold.split(X))[best_fold_index]

Split the data into train and test sets for the best fold

In [ ]:
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
model_testing1(model)

In [ ]:
model_testing11(model)

##XGBOOST CLASSIFIER MODEL

Initializie XGBoost Classifier

In [ ]:
model = xgb.XGBClassifier()

In [ ]:
evaluation_results = {}
for metric_name, metric_func in metrics.items():
    scores = cross_val_score(model, X, Y, cv=kfold, scoring=metric_name)
    evaluation_results[metric_name] = scores.mean()

In [ ]:
for metric_name, score in evaluation_results.items():
    print(f"Mean_{metric_name.capitalize()}: {score}\n")

In [ ]:
accuracy_scores = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
best_fold_index = np.argmax(accuracy_scores)

In [ ]:
train_index, test_index = list(kfold.split(X))[best_fold_index]

In [ ]:
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
model_testing1(model)

In [ ]:
model_testing11(model)

##LIGHT GBM CLASSIFIER MODEL

In [ ]:
import lightgbm as lgb

In [ ]:
model = lgb.LGBMClassifier()

In [ ]:
evaluation_results = {}
for metric_name, metric_func in metrics.items():
    scores = cross_val_score(model, X, Y, cv=kfold, scoring=metric_name)
    evaluation_results[metric_name] = scores.mean()

In [ ]:
for metric_name, score in evaluation_results.items():
    print(f"Mean_{metric_name.capitalize()}: {score}\n")

In [ ]:
accuracy_scores = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
best_fold_index = np.argmax(accuracy_scores)

In [ ]:
train_index, test_index = list(kfold.split(X))[best_fold_index]

In [ ]:
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
model_testing1(model)

In [ ]:
model_testing11(model)